*{
    padding: 0;
    margin: 0;
}   
 
body {
    font-family: 'Nunito', sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-flow: column;*/
    background-color: rgb(255, 255, 200);
}

/* INICIO HEADER */
header {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(194, 115, 132);
    height: 90%;
    justify-content: center;
    margin: 0;
}

.fas{
    padding: 2%;
}
#check:checked ~ #menudes {
    display: block;

}
    #check{
        display: none;
    }
#menudes {
    display: none;
    transition: 10s;
}
#list{
    list-style-type: none;
    margin: 0%;
    padding: 2%;
    text-align: center;
}
    #list li {
        text-decoration: none;
        margin: 1%;
        padding: 1%;
        border: solid 1px;
        transition: 300ms;

    }
        #list li:hover {
            border: solid 3px;
            margin: 1.5%;
            padding: 3%;
            display: block;
        }


.footer {
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-flow: column;

}
.profile {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    object-fit: cover;
    margin-left: 38%;
}
    .footer {
        display: flex;
        margin: 0%;
        padding: 0;
        flex-flow: column;
        justify-content: center;
    }
    .redes {
        display: flex;
        justify-content: center;
        flex-flow: row;
        margin-block: 0;
        padding: 0;
        margin: 2%;
    }
        .redes li{
            display: flex;
            list-style-type: none;
            text-align: center;
            margin: 3%;
        }
            .redes li i {
                padding-right: 5px;
                text-decoration: none;
                text-align: center;
                padding-bottom: 2%;
            }

.copy {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    padding-bottom: 20px;
}


#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
}
#headertext {
    font-family: 'Nunito', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}
.headerimg {
    object-fit: cover;
    width: 800px;
    height: 540px;
    border: solid  rgb(194, 115, 132) 10px;
    border-left: 2px;
}
/* FIN HEADER */
/* INICIO MAIN */ 
#main {
    height: 100%;
    width: 90%;
    display: flex;
    flex-flow: column;
    border: 2px solid;
    margin: 2em;
}
/* Inicio seccion 1 */
    #seccion1{
        z-index: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        height: 546px;
        margin-bottom: 2%;
    }
        #gentext{
            display: flex;
            justify-content: flex-end;
            flex-direction: column; 
        }
            h1 {
                font-family: 'Ubuntu', sans-serif;
                margin: 1em;
            }
            h3 {
                font-family: 'Nunito', sans-serif;
                margin: 3em;
                margin-top: 1em;
            }
        #foto1 {
            object-fit: cover;
            width: 100%;
            position: absolute;
            z-index: -1;
            opacity: 80%;
        }
/* Fin seccion1 */
/* Inicio seccion2*/ 
    #seccion2 {
        z-index: 0;
        position: relative;
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        height: 546px;
        margin-bottom: 15%;
        }
        #compass{ 
            text-align: center;
        }
/* Fin seccion2 */
/* Inicio seccion3 */
#seccion3{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 546px;
}
    #gentext{
        display: flex;
        justify-content: flex-end;
        flex-direction: column; 
    }
        h1 {
            font-family: 'Ubuntu', sans-serif;
        }
        h3 {
            font-family: 'Nunito', sans-serif;
        }
    #foto2 {
        object-fit: cover;
        width: 100%;
        position: absolute;
        z-index: -1;
        opacity: 80%;
    }
        