body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 200);
}

/* INICIO HEADER */
header {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(194, 115, 132);
    width: 90%;
    height: 90%;
}

.fas{
    padding: 2%;
}
#check:checked ~ #menudes {
    display: block;

}
    #check{
        display: none;
    }
#menudes {
    display: none;
    transition: 10s;
}
#list{
    list-style-type: none;
    margin: 0%;
    padding: 2%;
    text-align: center;
}
    #list li {
        text-decoration: none;
        margin: 1%;
        padding: 1%;
        border: solid 1px;
        transition: 300ms;

    }
        #list li:hover {
            border: solid 3px;
            margin: 1.5%;
            padding: 3%;
            display: block;
        }


.footer {
    display: flex;
    justify-content: center;
    padding: 5%;
    flex-flow: column;
}
.profile {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    object-fit: cover;
    margin-left: 35%;
}
    .footer .redes {
        display: flex;
        margin: 1%;
        padding: 0;
    }
        .redes li{
            display: flex;
            padding-left: 1%;
            padding-bottom: 3%;
            padding-top: 3%;
            padding-right: 3%;
            list-style-type: none;
        }
            .redes li i {
                padding-right: 5px;
                text-decoration: none;
            }

.copy {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    padding-bottom: 8px;
}


#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
}
#headertext {
    font-family: 'Nunito', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}
.headerimg {
    object-fit: cover;
    width: 800px;
    height: 540px;
    border: solid  rgb(194, 115, 132) 10px;
    border-left: 2px;
}

/* FIN HEADER */