*{
    padding: 0;
    margin: 0;
}   

body {
    font-family: 'Nunito', sans-serif;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-flow: column;*/
    background-color: rgb(255, 255, 200);
}

/* INICIO HEADER */
header {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(194, 115, 132);
    height: 100%;
    justify-content: center;
    margin: 0;
}
.fas{
    padding: 2%;
}
#check:checked ~ #menudes {
    display: block;

}
    #check{
        display: none;
    }
#menudes {
    display: none;
    transition: 10s;
}
#list{
    list-style-type: none;
    margin: 0%;
    padding: 2%;
    text-align: center;
}
    #list li {
        text-decoration: none;
        margin: 1%;
        padding: 1%;
        border: solid 1px;
        transition: 300ms;

    }
        #list li:hover {
            border: solid 3px;
            margin: 1.5%;
            padding: 3%;
            display: block;
        }


.footer {
    display: flex;
    justify-content: center;
    margin: 5%;
    flex-flow: column;

}
.profile {
    height: 100px;
    border-radius: 100%;
    width: 100px;
    object-fit: cover;
    margin-left: 38%;
}
    .footer {
        display: flex;
        margin: 0%;
        padding: 0;
        flex-flow: column;
        justify-content: center;
    }
    .redes {
        display: flex;
        justify-content: center;
        flex-flow: row;
        margin-block: 0;
        padding: 0;
        margin: 2%;
    }
        .redes li{
            display: flex;
            list-style-type: none;
            text-align: center;
            margin: 3%;
        }
            .redes li i {
                padding-right: 5px;
                text-decoration: none;
                text-align: center;
                padding-bottom: 2%;
            }

.copy {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 11px;
    padding-bottom: 20px;
}


#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    text-align: center;
}
#headertext {
    font-family: 'Nunito', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
}
.headerimg {
    object-fit: cover;
    width: 800px;
    height: 540px;
    border: solid  rgb(194, 115, 132) 10px;
    border-left: 2px;
    margin-top: 1%;
    margin-bottom: 1%;
}
/* FIN HEADER */
/* INICIO MAIN */ 
#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;

}
/* Inicio seccion 1 */
    #seccion1{
        z-index: 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        height: 580px;
        margin-bottom: 3%;
        background-image: url(img/8.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
        #gentext{
            display: flex;
            justify-content: flex-end;
            flex-direction: column; 
            color: black;
        }
            
/* Fin seccion1 */
/* Inicio seccion2*/ 
    #seccion2 {
        z-index: 0;
        position: relative;
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        height: 546px;
        margin-bottom: 10%;
        }
        #compass{ 
            text-align: center;
        }
/* Fin seccion2 */
/* Inicio seccion3 */
#seccion3{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 580px;
    background-image: url(img/4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    #gentext{
        display: flex;
        justify-content: flex-end;
        flex-direction: column; 
    }
.titlugar {
    font-family: 'Ubuntu', sans-serif;
    margin: 1em;
    color: white;
    text-shadow: black ;
    border: 10px;
    text-shadow: 10px 10px 10px #000000;
    }

.texlugar {
    font-family: 'Nunito', sans-serif;
    margin: 3em;
    margin-top: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.241) ;
    }

.tit_DG_lugar {
    font-family: 'Ubuntu', sans-serif;
    margin: 1em;
    color: rgb(0, 0, 0);
    text-shadow: black ;


}

.tex_DG_lugar {
    font-family: 'Nunito', sans-serif;
    margin: 3em;
    margin-top: 1em;
    color: rgb(0, 0, 0);
}